<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List Menu</title>
    <link rel="stylesheet" href="css\styles.css">

</head>

<body>

    <!-- Nav Bar -->
    <div th:insert="fragment/navbar.html :: navbar"></div>

    <h1>TODO List</h1>

    <table style="width:100%">
        <tr> 
          <th>Title</th>
          <th>Description</th>
          <th>Target</th>
        </tr>

        <tr>
          <td>Sleep</td>
          <td>Sleep more and more</td>
          <td>13/06/2022</td>
        </tr>

        <tbody id="newToDo" class="table-group-divider"></tbody>

        
      </table>


     


  
    
    <script src="js/tableForm.js"></script>
    <script src="js/tableListing.js"></script>

    
    
</body>
</html>